.kurssida {
  background: url(/content/Img/workingcomp.jpg) no-repeat center center/cover;
  min-height: 150vh;
  display: inline-flexbox;
  position: relative;
  color: var(--dark-color);
}

.kurscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  text-align: center;
  min-height: 130vh;
}

/*.row {
}*/

.card {
  background-color: #fff;
  opacity: 0.8;
  min-height: 40vh;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-evenly;
}
.displayArea {
  display: flex;
  justify-content: center;
}
.displayArea #id {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 20px;
  border-right: 3px groove var(--primary-color);
  padding-right: 0.5rem;
}

.hidden {
  display: none;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
}

#display div {
  padding: 10px 15px;
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
}

#display span {
  font-weight: bold;
}

#spinner {
  position: bottom;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#btnKurs {
  margin-top: 2rem;
  position: relative;
  top: 75%;
}

#btnPop {
  margin-top: 2rem;
  position: relative;
  top: 75%;
}
