.kurssida {
  background: url(/content/Img/workingcomp.jpg) no-repeat center center/cover;
  display: inline-flexbox;
  height: 150vh;
  position: relative;
  color: var(--dark-color);
  padding: 3rem;
}

.row {
  padding-top: 1rem;
}

.card {
  background-color: #fff;
  opacity: 0.9;
  min-height: 30vh;
}
.displayArea {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
}

#display div {
  padding: 10px 15px;
  border: solid 1px #aaa8a8;
  border-radius: 5px;
}

#display span {
  font-weight: bold;
}

#spinner {
  position: bottom;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 1;
}
