.navigation {
  background-color: var(--primary-color);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  padding: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1.4rem;
}

#nav .navigation a:hover {
  text-decoration: none;
  border-bottom: solid 4px var(--secondary-color);
  transition: 0.4s ease;
}

#nav .navigation a {
  color: var(--light-color);
  padding: 0.8rem 0.5rem;
  margin: 0 0.4rem;
}

.navigation ul {
  display: flex;
}

.navigation .logo {
  font-weight: 400;
}
